@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-6xl my-0 mx-auto;
  }
  h1 {
    @apply text-4xl mt-12 font-bold;
  }
  h2 {
    @apply text-2xl mt-12;
  }
  h3 {
    @apply text-xl mt-8;
  }
  h4 {
    @apply text-lg mt-8;
  }
  p {
    @apply mt-6;
  }
  input {
    @apply border rounded px-2;
  }
  a:hover {
    @apply underline;
  }
  button {
    @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-md;
  }
}

